{% extends "dashbord/base.html" %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
{% if LANGUAGE_CODE == 'en'%}
  {% block content %}
    {% block title %}
        <h5>Your Answers</h5>
    {% endblock %}
      <div>

        <form>
          {{name}}
          {% for d in data %}
          <div>
            <p>{{d.0}}</p>
            <input class="form-control" value="{{d.1}}" disabled>
          </div>
          <br>
          {% endfor %}
        </form>
      </div>
  {% endblock %}
{% else %}
  {% block contant %}
    {% block titla %}
        <h5>پاسخ شما</h5>
    {% endblock %}
      <div>

        <form>
          <br>
          {{name}}
          {% for d in data %}
          <div>
            <p>{{d.0}}</p>
            <input class="form-control" value="{{d.1}}" disabled>
          </div>
          <br>
          {% endfor %}
        </form>
      </div>
  {% endblock %}
{% endif %}
