{% extends "dashbord/base.html" %}
{% load static %}
{% load i18n %}
{% if LANGUAGE_CODE == 'en'%}
  {% block content %}
    {% block title %}
        Forgot Password
    {% endblock %}

    {% block main %}
        <h1>Forgot Password</h1>
        <form method="POST" action="{% url 'forgot_password' %}">
            {% csrf_token %}
            <div>
                <input type="text" name="username" placeholder="Username/Email" class="form-control">
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    {% endblock %}
  {% endblock %}
{% else %}
{% block contant %}
  {% block titla %}
      فراموشی رمز عبور
  {% endblock %}

  {% block maain %}
      <h1>{% translate "Forgot Password" %}</h1>
      <form method="POST" action="{% url 'forgot_password' %}">
          {% csrf_token %}
          <div>
              <input type="text" name="username" placeholder="نام کاربری / ایمیل" class="form-control">
          </div>
          <br>
          <div>
              <button type="submit" class="btn btn-primary">{% translate "Submit" %}</button>
          </div>
      </form>
  {% endblock %}
{% endblock %}
{% endif %}
