{% extends "dashbord/base.html" %}
{% block content %}
  {% block title %}
      Forgot Password
  {% endblock %}

  {% block main %}
      <h1>Forgot Password</h1>
      <form method="POST" action="{% url 'forgot_password' %}">
          {% csrf_token %}
          <div>
              <input type="text" name="username" placeholder="Username/Email" class="form-control">
          </div>
          <br>
          <div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
  {% endblock %}
{% endblock %}
