{% extends 'dashbord/base.html' %}
{% load static %}
{% load i18n %}
{% if LANGUAGE_CODE == 'en'%}
  {% block content %}
  {% if message %}
  <div>
    <h5>{{ message|safe }}</h5>
  </div>
  {% endif %}

  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>dashbord</title>
  </head>
  <body>
    <div class="col-md-6 col-md-offset-3"><br>
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Username</label>
          <div class="col-sm-10">
            <input type="text" name="username" class="form-control" placeholder="At least 3 charachter" required pattern=".{3,}">
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <div class="col-sm-10">
            <input type="password" name="password" class="form-control" placeholder="Use numbers and words" required pattern=".{3,}">
          </div>
        </div>
        <div class="form-group">
          <div>
            <button type="submit" class="btn btn-dark">Login</button>
          </div>
        </div>
      </form>
    </div>
    <br>
    <a href="/auth/register/" style="color:black">Not register?</a>
  </body>
  {% endblock %}
{% else %}
  {% block contant %}
  {% if message %}
  <div>
    <h5>{{ message|safe }}</h5>
  </div>
  {% endif %}

  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>{% translate 'dashbord' %}</title>
  </head>
  <body>
    <div class="col-md-6 col-md-offset-3"><br>
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">{% translate 'Username' %}</label>
          <div class="col-sm-10">
            <input type="text" name="username" class="form-control" placeholder="حداقل 3 کاراکتر" required pattern=".{3,}">
          </div>
        </div>
        <div class="form-group">
          <label for="password">{% translate 'Password' %}</label>
          <div class="col-sm-10">
            <input type="password" name="password" class="form-control" placeholder="از اعداد و ارقام استفاده کنید" required pattern=".{3,}">
          </div>
        </div>
        <div class="form-group">
          <div>
            <button type="submit" class="btn btn-dark">{% translate 'Login' %}</button>
          </div>
        </div>
      </form>
    </div>
    <br>
    <a href="/auth/register/" style="color:black">{% translate 'Not register?' %}</a>
  </body>
  {% endblock %}
{% endif %}
