{% extends "dashbord/base.html" %}
{% load static %}
{% load i18n %}
{% if LANGUAGE_CODE == 'en'%}
  {% block content %}
    {% block title %}
        Forgot Password
    {% endblock %}

    {% block main %}
        <h1>Change password for {{ username }}</h1>
        <form method="POST">
            {% csrf_token %}
            <div>
                <input type="password" name="password" placeholder="New Password" class="form-control">
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    {% endblock %}
  {% endblock %}
{% else %}
  {% block contant %}
    {% block title %}
        فراموشی رمز عبور
    {% endblock %}

    {% block main %}
        <h1>{{ username }}تغییر رمز عبور برای </h1>
        <form method="POST">
            {% csrf_token %}
            <div>
                <input type="password" name="password" placeholder="New Password" class="form-control">
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-primary">ثبت</button>
            </div>
        </form>
    {% endblock %}
  {% endblock %}
